body {
  background-color: #000;
  color: #ff0;
}
canvas {
  margin: auto;
  display: block;
  max-height: 100vh;
  max-width: 100vw;
}

#mainText {
  width: 85ch;
  margin: auto;
  font-family: sans-serif;
  color: #eee;
  line-height: 1.4;
  white-space: pre-wrap;
  font-family: "Rokkitt";
  font-size: 18px;
}

#sanitySlider {
  margin-top: 30px;
  text-align: center;
}

.mad-rambling {
  font-family: "Patrick Hand SC";
  color: #cfc;
}
